<!DOCTYPE HTML>
<!--
  3dbox.club by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>3dbox.club</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <title>box.club &ndash; Tell Friends, Get Free Stuff</title>
        <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
        <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">

        <meta property="og:title" content="3Dbox.club’s is coming!"/>

    <%= stylesheet_link_tag "main.css", :media => "all" %>
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  </head>
  <body class="landing">

    <!-- Page Wrapper -->
      <div id="page-wrapper">

        <!-- Header -->
          <header id="header" class="alt">
            <h1><a href="index.html">3dbox.club</a></h1>
            <nav id="nav">
              <ul>
                <li class="special">
                  <a href="#menu" class="menuToggle"><span>Menu</span></a>
                  <div id="menu">
                    <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="/refer-a-friend">Referrals</a></li>
                      <li><a href="/admin">Admin</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
          </header>

        <!-- Banner -->
          <section id="banner">
            <div class="inner">
              <h2>3dbox.club</h2>
              <p>Making and delivering<br />
              the best 3d printed<br />
              items, Every month.</p>


              <div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
                  <% if Rails.application.config.ended %>
                      <p class="thanks brandon">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
                      <p class="compiling brandon">WE ARE COMPILING REWARDS RIGHT NOW AND WILL EMAIL<br/>COUPON CODES TO ALL RECIPIENTS IN THE NEXT DAY OR TWO</p>
                      <p class="go-to brandon">In the meantime, head to  <a href="http://www.3dbox.club/">WWW.3DBOX.CLUB</a></p>
                      <p class="again brandon">Thank You Again!</p>
                  <% else %>
                      <div class="key 12$u"></div>
                      <%= form_for @user, :url => { :action => "create" } do |f| %>
                          <%= f.text_field :email, :placeholder => "Enter Email", :class => "align-center " %>
                          <input class="special" name="commit" type="submit" value="Get free 3D prints" />
                      <% end %>
                  <% end %>
              </div>
            </div>

            </div>
            <a href="#one" class="more scrolly">Learn More</a>
          </section>

        <!-- One -->
          <section id="one" class="wrapper style1 special">
            <div class="inner">
              <header class="major">
                <h2>Join the 3D printing revolution!</h2>
                <p>Take advantage of the future<br />
                without having to spend thousands of dollars and hundreds of hours of frustration.</p>
              </header>
              <ul class="icons major">
                <li><span class="icon fa-cogs major style1"><span class="label">Lorem</span></span></li>
                <li><span class="icon fa-print major style2"><span class="label">Ipsum</span></span></li>
                <li><span class="icon fa-cube major style3"><span class="label">Dolor</span></span></li>
              </ul>
            </div>
          </section>

        <!-- Two -->
          <section id="two" class="wrapper alt style2">
            <section class="spotlight">
              <div class="image"><img src=<%= "#{image_path('useful3.png')}"%> alt="" /></div><div class="content">
                <h2>Useful<br /> Innovation</h2>
                <p> Lets make our lives just a little tiny bit easier.
              Each month we pick a themes from the kitchen, wires/cords, car, bedroom and any where you might spend time to make your life a little easier.</p>
              </div>
            </section>
            <section class="spotlight">
              <div class="image"><img src=<%= "#{image_path('fun.png')}"%> alt="" /></div><div class="content">
                <h2>Seriously<br />
                fun</h2>
                <p>What do ninja stars, puzzles, flowers, stick figures, leaf prints, anime ghost and horns all have in common?

                The are random cool things that you could get in a monthly box! Its all about having fun.</p>
              </div>
            </section>
            <section class="spotlight">
              <div class="image"><img src=<%= "#{image_path('package.png')}"%> alt="" /></div><div class="content">
                <h2>Adventure<br />
                Every month</h2>
                <p>We work hard for you to find the coolest things out there and give you a great experience when you open your 3dbox!</p>
              </div>
            </section>
          </section>

        <!-- Three -->
          <section id="three" class="wrapper style3 special">
            <div class="inner">
              <header class="major">
                <h2>Join Our Pre-release referral</h2>
                <p>We are currently in opening<br />
              our pre-release sign ups for our referral rewards</p>
              </header>
              <ul class="features">
                <li class="icon fa-share">
                  <h3>Share</h3>
                  <p>You will recieve a unique code that you can share with all your friends, family and random people on the street.</p>
                </li>
                <li class="icon fa-gift">
                  <h3>Receive</h3>
                  <p>Earn rewards as your referral sign up. Ranging from small items to free months of the box club.</p>
                </li>

              </ul>
            </div>
          </section>

        <!-- CTA -->
          <section id="cta" class="wrapper style4">
            <div class="inner">
              <div>
              <form method="post" action="/users/create">
                <div class="row uniform">
                  <div class="6u 12u$(xsmall)">
                    <input type="email" name="user[email]" id="demo-email" value="" placeholder="email" />
                  </div>
                  <div class="6u 12u$(xsmall)">
                    <input class="special" name="commit" type="submit" value="Get free 3D prints" />
                  </div>
              </form>
              </div>
              <header>
                <h2>Earn free gifts</h2>
                <p>You and your friends will get gifts for sharing the link that is generated for you. Everytime you share you get closer to the next bigger free prize! Enter now for your opportuntity to get early access to the special PRE-RELEASE box.</p>
              </header>

              </div>
            </div>
          </section>


        <!-- Footer -->
          <footer id="footer">
            <ul class="icons">
              <li><a href="http://twitter.com/3dboxclub" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="http://facebook.com/3dboxclub" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="https://instagram.com/3dbox.club/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="mailto:info@3dbox.club" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
              <li>&copy; 3dbox.club</li>
            </ul>
          </footer>

      </div>

    <!-- Scripts -->

     <%= javascript_include_tag "landing" %>

  </body>
</html>
